* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hero {
    background-color: #1f2937;
    padding-bottom: 60px;
}
header {
    display: flex;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 5px;
    margin: 0.3rem 15rem;
}

nav {
    margin: 0.5rem 10rem;
    margin-top: 0.7rem;
}

nav a {
    color: #f9faf8;
    font-size: 20px;
    padding: 5px;
    margin: 0 0.5rem;
}

#top-page {
    display: flex;
}
#top-left {
    text-align: left;
    margin-left: 7rem;
    padding: 10px;
    width: 600px;
}
#top-left h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin-bottom: 0;
}
#top-left p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}
#top-left button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 24px;
    padding: 5px 0.8rem;
    border-radius: 10px;
}

#castle {
    width: 500px;
    margin: 20px;
}

.top-section {
    width: 50%;
    text-align: center;
}

#display-section h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

#display-container {
    display: flex;
    justify-content: center;
}

.display {
    margin: 1rem;
    width: 200px;
}

.display img {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.display p {
    text-align: center;
    margin: 0;
    color: #1f2937
}

#quote-section {
    background-color: #e5e7eb;
}
#quote-container {
    width: 70%;
    margin: auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
}
#quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
#author {
    font-weight: 600;
    font-size: 24px;
    text-align: right;
}

#signup-section {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    background-color: #3882f6;
    border-radius: 0.5rem;
}
#call-action {
    margin-left: 2rem;
}
#call-action h3, p {
    color: #f9faf8;
}
#call-action h3 {
    margin-bottom: 0;
}
#call-action p {
    margin-top: 0;
}
#call-button {
    margin: auto;
}
#call-button button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 0.5rem;
    font-size: 24px;
    padding: 0.3rem 1rem;
}

footer {
    background-color: #1f2937;
    margin: 0;
}
footer p {
    text-align: center;
    margin: 0;
    padding: 2rem;
}